* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.display {
    color: white;
    width: 100%;
    padding: 10px 20px;
    background-color: #035e8f;
    border: 1px solid #035e8f;
    font-size: 2em;
}

.flex-container-column {
    display: flex;
    flex-direction: column;

    /*properti perndukung*/
    max-width: 800px;
    margin: 0 auto;
    text-align: right;

}

.flex-container-row {
    display: flex;
}

.button {
    flex-basis: 25%;
    /* properti pendukung */
    font-size: 1.5em;
    color: #035e8f;
    font-weight: bold;
    text-align: center;
    padding: 40px;
    border: 1px  solid #035e8f;
    background: -webkit-radial-gradient(top, #f0fdff, rgb(255, 255, 255));
    cursor: pointer;
  }
.double {
    flex-basis: 50%;
}

.operator, .negative, .equals {
    background:  #6dbfec;
    color: #f0fdff;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 30px;
    margin-top: 20px;
}